* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #34495e;
  --secondary-color: #3498db;
  --accent-color: #e74c3c;
  --neutral-color: #ecf0f1;
  --dark-gray: #2c3e50;
}

/* Navigational bar */
header {
  background-color: var(--primary-color); 
  color: var(--neutral-color); 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  flex-grow: 1;
}

header h2 {
  margin: 0;
  font-size: 24px;
  text-decoration: none;
  color: var(--neutral-color);
}

header a{
  text-decoration: none;
}

header span {
  color: #3498db;

}
nav{
  flex-grow: 1;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav li {
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease; 
}

nav li:hover {
  color: #3498db; 
}

header button {
  background-color: var(--accent-color); 
  color: var(--neutral-color); 
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease; 
}

header button:hover {
  background-color: #c0392b; 
}

@media screen and (max-width: 768px) {
  nav {
    margin-top: 10px; 
    width: 100%; 
  }

  .logo{
    text-align: center;
    border-bottom: 2px solid var(--dark-gray);
  }

  nav ul {
    justify-content: center;
  }

  header button {
    margin-top: 10px; 
    margin-left: 0; 
  }
  .signup{
    display: none;
  }
}

/* Pages */
.pages {
  width: 100%; 
  padding: 20px; 
  background-color: var(--neutral-color); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .pages {
    padding: 10px; 
  }
}