* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #34495e;
  --secondary-color: #3498db;
  --accent-color: #e74c3c;
  --neutral-color: #ecf0f1;
  --dark-gray: #2c3e50;
}